/* Estilos para la lista de navegación en la barra de navegación */

body {
  font-family: "Roboto", sans-serif;
 
} 
h1, h2, 
 h3 {
  font-family: "Roboto", sans-serif;
}
p{
  font-size: 14px;
}
h4{
  font-size: 14px;
}
h3{
  font-size: 16px;
}
h2{
  font-size: 18px;
}
h1{
  font-size: 24px;
}
.paragraph-text {
  font-family: "Roboto", sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
  margin-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  /* justify-content: flex-end; */
}

nav li {
  display: inline-block;
}

nav li.logout-button {
  margin-left: 0;
}

nav li span {
  cursor: pointer;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
nav li a:active {
  color: rgb(220, 226, 224); /* Cambia 'red' al color que prefieras */
}

@media (max-width: 768px) {
  nav {
    padding: 5px;
    /* Ajusta el relleno para pantallas más pequeñas */
  }

  nav ul {
    flex-direction: column; /* Cambia la dirección del diseño a columna en pantallas más pequeñas */
    align-items: flex-end; /* Alinea los elementos a la derecha en pantallas más pequeñas */
    margin-left: 0; /* Reinicia el margen izquierdo */
  }

  nav li {
    margin-left: 0;
    margin-bottom: 5px; /* Ajusta el espacio entre elementos de la lista en pantallas más pequeñas */
  }

  nav li.logout-button {
    margin-left: 0;
    margin-top: 10px; /* Ajusta el espacio en la parte superior para el botón de cierre de sesión */
  }
}


.Links {
  display: flex;
  align-content: flex-end
}

.navbar{
  display: flex;
}



nav .navbar_inf ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav .navbar_inf li {
  display: inline-block;
  margin-right: 20px; /* Ajusta el espacio entre los elementos de la lista */
}

nav .Links {
  display: flex;
}

nav .Links div {
  margin-left: 20px; /* Ajusta el espacio entre los íconos */
}

nav .Links img {
  width: 25px; /* Ajusta el tamaño de los íconos según tus necesidades */
}

@media (max-width: 600px) {
  /* Estilos para pantallas más pequeñas si es necesario */
 
   /* Estilo específico para el select "Work" */
   #work-experience-dropdown {
    position: initial; /* Establece la posición absoluta */
    /* right: 0;  */
  }
  nav {
    justify-content: flex-start;
    position: initial;
  }
   #work-experience-dropdown p a  {
        text-align: right;
    
  }
  select#work-experience-dropdown{
    text-align: right;
  }
  
}


/* Estilos para el select */
#work-experience-dropdown {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  font-family: "Roboto", sans-serif; /* Fuente */
  font-size: 14px; /* Tamaño de la letra */
  cursor: pointer;
  color: black; /* Color del texto */
  -webkit-appearance: none; /* Elimina los estilos nativos del navegador */
  -moz-appearance: none;
  appearance: none;
}

/* Estilo para las opciones del select */
#work-experience-dropdown option {
  background-color: white; /* Fondo blanco */
  color: black; /* Color del texto */
}

/* Estilo para el texto "Select Work Experience" */
#work-experience-dropdown option[disabled] {
  color: gray; /* Color del texto en modo deshabilitado */
}
