:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(52, 50, 50, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1000px;
}

.Box_Presentation {
  text-align: center;
  display: flex;
}

.Work_experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.hi {
  align-items: center;
  padding-top: 60px;
}

.inf {
  flex: 0 0 50%;
  margin-left: 50px;
  padding-top: 20px;
}

.Experience {
  font-size: 16px;
  padding-right: 150px;
  padding-left: 150px;
  text-align: center;
}
.Resumen {
  font-size: 16px;
  text-align: center;
}

.box-link {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.link-button {
  display: inline-block;
  margin: 15px;
}
.link-button:hover {
  background-color: #392876;
  color: #fff; /* Cambia esto al color que prefieras para el texto al hacer clic */
}

.link-button:active {
  background-color: #392876; /* Cambia esto al color que prefieras al hacer clic */
  color: #fff; /* Cambia esto al color que prefieras para el texto al hacer clic */
}

.space {
  margin-bottom: 30px;
}

.Picture {
  flex: 1;
  padding: 15px;
}

.Design_Thinking {
  flex: 1;
  padding: 20px;
}
.Experiencia {
  padding-top: 10px;
}
.Box_project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;

  /* Ajusta según sea necesario */
}

li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.Hard_skil {
  align-items: center;
}

/* Añade estos estilos a tu hoja de estilo CSS para habilidades */
.Hard_skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Hard_skill {
  text-align: center;
  margin: 8px;
  width: 120px;
}

.Skills {
  width: 50%;
  height: auto;
  margin-bottom: 8px;
}
.skill_name {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.DesckHome_art_2 {
  width: 20%;
  height: auto;
  /* justify-content: left; */
  margin: auto;
  padding-top: 120px;
  padding-left: 40%;
}
