
.padres_explicacion {
    text-align: center; /* Centro el contenido */
    /* width: 50%; */
    padding: 2px;
  }
  
  .text_olivino {
    display: inline-block;
    text-align: center;
    align-items: center;
  }
  
  /* .text_olivino_2 {
  
    justify-items: center;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    display: flex;
  } */
  
  .Titulo_PadresEnsync {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
  }
  
  .box_PadresEnsync {
    align-items: center;
    text-align: center;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .imagen_logoPadres{
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 10%;
  }
  
   .section1_rigth_padres {
    width: 150%;
  } 
/*   
  .architectura_img_olivino {
    margin-bottom: 12%;
  } */
  
 