
.sectionPlay {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 1%;
}

video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  outline: none;
  /* Cambio realizado aquí */
  -webkit-media-controls-play-button: state(webkit-media-controls-play-button);
}
.img_box_logo {
  text-align: center;
  /* width: 1%; */
}

.img_box_logo_padres {
  /* display: flex; */
  /* text-align:end; */
  width: 60%;
  margin-bottom: 5%;
  /* justify-content: end; */
  /* padding-right: 20%; */
}
.logo_padres_corazon {
  justify-self: center;

}

/* .card__logo_padres{
  width: 30%;
} */

.text_olivino {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.titulo_section {
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin-top: 1%;
}

.box_Explication_project {
    text-align:justify;
  display: inline-block;
    width: 70%;
  vertical-align: auto;
}
.box_Explication_project_padres{
  text-align:justify;

}
.espaciador {
  height: 50px;
}
.section_storytelling{
  margin-top: 5%;
}

.section_1_rigth {
  width: 50%;
}
.section_1_rigth_padres {
  display: flex;
  /* align-items: center; */
  width: 95%;
  align-content: center;
}
.section_padres {
  display: flex;
  margin-top: 10%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: center;
}

.section_1 {
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
}

/* Estilos para la segunda sección */
.section_2 {
  text-align: center;
}

.section_3 {
  padding: 20px;
  text-align: center;
}

.section_4 {
 
  text-align: center;
 
}
.section_5 {
  padding: 20px;
  text-align: center;
 
}
.section_6 {
  padding: 20px;
  text-align: center;
}
.section_1_rigth_biker {
  width: 50%;
}

.contenedor_design_biker {
  display: flex;
}
.contenedor_botton_padres {
  display: flex;
  align-content: center;
  justify-content: center;
}
.contenedor_botton_biker {
  display: flex;
  align-content: center;
  justify-content: center;
}
.BackToTop {
  display: block;
  margin-top: 15px;
  padding-top: 25px;
  padding-right: 10%;
  text-align: right;
  text-decoration: none;
  color: #333; /* Color del texto */
 }

.BackToTop:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
}

.Design_Thinking_botton {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  padding: 15px 20px;
  background-color: #f2f2f2; /* Color gris claro */
  border: 1px solid #ccc; /* Borde del rectángulo */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none;
  color: #333; /* Color del texto */
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
  text-align: center;
  line-height: 40px; /* Igual a la altura del botón */
}
.Design_Thinking_botton :hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
}

.Empathize,
.Empathize_inf {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: flex-start;
}

.Empathize td,
.Empathize_inf td {
  flex: 1; /* Hace que las celdas ocupen el mismo espacio dentro del contenedor flex */
  padding: 10px; /* Ajusta el espacio interno de las celdas según tus preferencias */
  text-align: center; /* Alinea el contenido al centro en las celdas */
  margin: 1%;
}

.Empathize_inf td {
  padding: 20px 10px;
  text-align: justify;
}
.box_Empathize {
  margin-bottom: 1%;
  margin-top: 5%;
}

.Empathize_img {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: flex-end;
  margin-top: 80xp;
}
.contenedor_design {
  display: block;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
}
.contenedor_design_padres {
  padding-top: 5%;
  padding-bottom: 5%;
}
.Design_Thinking_botton:hover {
  background-color:  #8c8b8b; /* Cambia '#f00' al color que prefieras */
}

.Design_Thinking_botton:active {
  background-color: #8c8b8b;
  color: #fff;
}

.design_title {
  display: flex;
  /* display: inline; */
  /* display: block; */
  justify-content: center;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Define_img {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos */
  text-align: center; /* Centra horizontalmente el texto */
}
.Define_img_olivino{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Define_img h4 {
  margin-top: 10px; /* Espacio superior entre el título y la imagen */
}

.user_flor_img {
  width: 60%;
  height: auto;
  margin-top: 10px; /* Espacio superior entre la imagen y el título */
}


.user_flor_img{
  align-content: center;
  justify-content: center;


}

.icon_img {
  display: flex;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 1%;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.img_arq_section {
  padding-top: 1%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
}

.Icon_test {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imagen_logo {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.BackToTopButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2; /* Color gris claro */
  border: 1px solid #ccc; /* Borde del rectángulo */
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: small;
}

.BackToTopButton:hover {
  background-color: #ddd; /* Cambia el color al pasar el ratón sobre el botón */
}

/* padresensync */
.card_mvp {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_mvp_2 {
  display: inline-flex;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  z-index: 1;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.card_mvp_Biker {
  display: flex;
  justify-content: space-around;
  /* align-items: stretch; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.card_mvp_biker_2 {
  display: inline-flex;
  border: 1px solid #ccc;
  padding: 30px;
  width: 400px;
  z-index: 1;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  /* justify-content: space-between; */
}
.text_section {
  text-align: center;
}

.titulo_section {
  color: #333;
}

.card_inf {
  margin-top: 0px;
}


/* You can add more styles based on your design preferences */
/* .storytelling-image-row p {
  padding-left: 2%;
  padding-right: 2%;
} */

.storytelling-image-row {
  text-align: center; /* Centra el contenido horizontalmente */
}

.storytelling-image-row h4,
.storytelling-image-row p {
  max-width: 80%; /* Limita el ancho del texto al 80% */
  margin: 0 auto; /* Centra el texto horizontalmente */
}

.image-container {
  margin-top: 20px; /* Espacio entre el texto y la imagen */
}


.box_structure {
  display: flex;
  padding-bottom: 10%;
}
.structure {
  display: inline;
  justify-content: flex-end;
}
.screen {
  justify-content: flex-start;
}
.space{
  padding-bottom: 8%;
}
.img_logo_project_padreEnsync{
  padding-left: 60px;
}

.Moodboard_olivino{
  background-image: url(public/Moodboard_olivino.png);
  /* background-image: url("./Moodboard_olivino.png"); */
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
 }


 /* empathis efecto  */
.imghvr-zoom-out-up {
  position: relative;
  height: auto;
}

.hover-image {
  width: 100%;
  transition: opacity 1s ease-in-out;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imghvr-zoom-out-up:hover .hover-image {
  opacity: 0;
}

.imghvr-zoom-out-up:hover .hover-text {
  opacity: 1;
}
.hover-text {
  overflow-y: auto; /* Añade un desplazamiento vertical si es necesario */
  max-height: 300px; /* Ajusta este valor según tus necesidades */
}
 /* Para dispositivos con un ancho de pantalla menor o igual a 600px */
@media (max-width: 600px) {
  .box_Empathize {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .Empathize {
    margin-bottom: 20px; /* Añade un margen inferior para separar las imágenes */
  }

  .imghvr-zoom-out-up {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
  }

  .hover-text {
    position: static; /* Restaura la posición estática para el texto */
    opacity: 1; /* Asegura que el texto sea visible */
    max-height: none; /* Elimina la altura máxima */
    text-align: center; /* Centra el texto */
  }

  .hover-image {
    transition: none; /* Elimina la transición en dispositivos móviles */
  }

  /* Opcional: Elimina el desplazamiento vertical en el texto */
  .hover-text {
    overflow-y: hidden;
  }
}



/* para padres en sinc mvp */


/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .section_mvp {
    display: none; /* Oculta la sección en dispositivos con un ancho de pantalla menor o igual a 600px */
  }
}

/* Estilos para dispositivos de escritorio */

/* Estilos para dispositivos de escritorio */
@media (min-width: 601px) {
  .section_mvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
  }

  .mvp_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los MVPs se envuelvan si no caben en una sola fila */
    gap: 20px; /* Añade espacio entre los MVPs */
  }

  .mvp {
    text-align: center;
    position: relative; /* Establece la posición relativa para el contenedor de cada MVP */
  }

  .titulo_section_mvp {
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }

  .imghvr-mvp-zoom-up {
    width: 100%;
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transition: transform 0.3s ease; /* Añade una transición suave */
  }

  .imghvr-mvp-zoom-up:hover {
    transform: scale(1.1); /* Escala ligeramente la imagen al pasar el cursor sobre ella */
  }

  .hover-text-mvp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.96); /* Fondo semitransparente para el texto */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave */
    display: flex;
   
    justify-content: center;
    align-items: center;
    padding: 20px; /* Añade espacio alrededor del texto */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
    font-size: 10px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto */
    line-height: 1.5; /* Altura de línea */
  }

  .mvp:hover .hover-text-mvp {
    opacity: 1; /* Muestra el texto cuando el MVP tiene el cursor encima */
  }

  .hover-text-mvp ul {
    list-style-type: none;
    padding: 0;
    max-width: 350px
  }

  .hover-text-mvp li {
    margin-bottom: 5px;
    word-wrap: break-word; 
  }
}


/* //////////////////max-width: 600px//////////////// */


@media (max-width: 600px) {
  .hover-text {
    font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .contenedor_design {
    display: none;
  }

  .imagen_logo {
    display: none;
  }

  .Define_img_olivino{
    display: none;
  }

  .contenedor_design_padres{
    display: none;

  }
  .img_logo_project_padreEnsync{
    display: none;

  }
  
}


 /* empathis efecto  */

 /* paralace fotos conjuntas efecto  */

 /* .parallax-container {
  background-image: url(./mujeres_cambio_estado.png);
  height: 250px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; /* Añade esta línea }*/

  






